# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.test-venv/
.backend-test-venv/
# Environments & Secrets
.env
.env.*
.env.local
!.env.example
!**/.env.example
*.key
*.pem

# IDE
.idea/
.vscode/
.DS_Store

# DB
*.db
*.sqlite3
backend/config/*.json.lock

# Logs
*.log
logs/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/build/*
!mobile/build/web/
!mobile/build/web/**
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties

# Test
.pytest_cache/
htmlcov/
.coverage

# Docker
*.override.yml

# Binaries
*.apk
*.aab
